.banner-container{
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}

.title{
   font-family: 'Rye', serif;
   font-weight: 900;
   font-size: 55px;
   color: #2c2a50;
}

.sub-title, .sub-sub-title{
   font-family: 'Quicksand', sans-serif;
   font-weight: 800;
   font-size: 24px;
   color: #545382;
}

@media (max-width: 768px) {
    .title{
        font-size: 24px;
    }  /* Smaller font size for mobile screens */
    .sub-title, .sub-sub-title{
        font-size: 16px;
    }
  }