.my-footer{
    background-color: #373842;
    color: white;
}

.link-head{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.link-head:hover{
    cursor: pointer;
}

li{
    margin-bottom: 10px;
}

li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

li a:hover{
    color:#e86c6c;
}

.designer{
    color: bisque;
    text-decoration: none;
}

.designer:hover{
    color: #e88876;
}