.my-nav{
   font-family: 'Lato', sans-serif;
   font-family: 'Quicksand', sans-serif;
   font-weight: 700;
   font-size: 18px;
   }

.links{
     color : black;
     text-align: center;
    
} 

.links:hover{
   color:#e86c6c;
}

.fixed-header{
   z-index: 1;
   /* height: 80px; */
   width: 100%;
   background-color: #373842;
   position: fixed;
   font-family: 'Lato', sans-serif;
   font-family: 'Quicksand', sans-serif;
   font-weight: 700;
   font-size: 18px;
   border-bottom: #3e3f4b solid;
   animation: slideIn 1s ease-in-out;
}

@keyframes slideIn {
   0% {
     transform: translatey(-100%);
   }
   100% {
     transform: translatey(0);
   }
 }


.fixed-header .links{
   color: white;
}

.fixed-header .links:hover{
   color: #e86c6c;
}

.logo{
   font-family: 'Rye', serif;
   font-weight: 900;
   font-size: 25px;
   /* color: rgb(255, 154, 2); */
   background: linear-gradient(to left,
                    violet,
                    indigo,
                    blue,
                    green,
                    yellow,
                    orange,
                    red);
            -webkit-background-clip: text;
            color: transparent;
}

.btn{
   text-align: center;
   color:white;
   border-top-left-radius: 7px; 
   border-top-right-radius: 0px; border-bottom-left-radius: 7px;border-bottom-right-radius: 7px;

}